*{
    background-color:#F5F5F5;
}

.container{
    margin-top: 100px;
    background-color: white;
    margin-left: 25%;
    margin-right: 25%;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    padding: 10px;
    color: #44446E;
}
img{
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
    background-color: white;
}

p,h1,h2,h3,ul,li{
    background-color:white;
}
ul{
    list-style-type: none;
}
li{
    border-top: 1px #DDDDDD solid;
    padding: 10px;
}

span{
    float: right;
    background-color:rgb(61,120,193);
    margin-right:0;
    color: white;
    display: inline-block;
    margin: 0 -10px 0 0;
    padding: 5px 40px 5px 15px;
}

.info{
    background-color : white;
    border: 2px dotted rgb(61,120,193);
}
.info p,h3{
    line-height: 25px;
    padding: 5px;
}